/* ALL DOCUMENT */
@font-face {
  font-family: myFirstFont;
  src: url(../Arcade.ttf);
  color: #fffafa;
}
body {
  color: #fffafa; /* off-white */
  background-color: #293542; /* slate */
  font-family: myFirstFont, Arial; /* add more */
}
.container-fluid {
  padding: 0;
  height: 100vh;
}
.row {
  margin: 0;
}


/* LEFT SIDE (DURING OPTIONS AND GAME) */
.left-side {
  background-color: red;
  height: 100%;
  padding: 0;
}
header h1 {
  font-size: 180px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
}

/* LEFT SIDE (DURING OPTIONS ONLY) */
.dropdown-toggle, .dropdown-menu {
  background-color: red;
  color: white;
}
.dropdown-toggle {
  margin: 30px;
}
.dropdown-menu>li>a {
  color: white;
  font-size: 30px;
}
.filter-option {
  font-size: 30px;
  margin-top: 10px;
}
#start-button {
  padding: 20px 40px;
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: blue;
  border: solid white 1px;
}

/* LEFT SIDE (DURING GAME ONLY) */
#play-box {
  text-align: center;
}
.scorebox {
  background-color: red;
  padding-top: 15px;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
}
.scorebox p {
  font-size: 40px;
  margin: 0;
}
#player-one-score, #target-score, #player-two-score {
  font-size: 120px;
  text-align: center;
  padding-bottom: -20px;
}
.buttons {
  margin: 30px 0;
}
.guess-buttons, #pass-button, #reset-cells-button, #restart-button {
  border: white solid 2px;
  text-align: center;
  display: inline;
  font-size: 22px;
  color: white;
  background-color: blue;
}
.guess-buttons {
  padding: 21px;
}
#pass-button, #reset-cells-button, #restart-button {
  padding: 22px 28px;
}
.results-text p {
  font-size: 40px;
}


/* RIGHT SIDE (DURING OPTIONS AND GAME) */
.right-side {
  padding: 0;
  background-color: red;
  height: 100%;
}

/* RIGHT SIDE (DURING OPTIONS ONLY) */
#instructions-screen {
  background-color: red;
  height: 100%;
  text-align: center;
  padding: 0;
}
#instructions-screen h3 { /* Heading (h3) should not be qualified */
  margin-top: 0;
  padding-top: 120px;
  font-size: 80px;
}
#instructions-screen p { /* instructions */
  padding: 10px 80px 10px 5px;
  text-align: justify;
  font-size: 30px;
 }

/* RIGHT SIDE DURING GAME ONLY */
.game-screen {
  padding: 150px 100px 0 0;
  height: 100%;
  text-align: center;
  background-color: red;

}
.game-cell {
  margin: 0;
  border: black solid 1px;
  border-radius: 10px;
}
#game-screen3x3 .game-cell {
  height: 240px;
  width: 240px;
}
#game-screen3x4 .game-cell {
  height: 180px;
  width: 180px;
}
#game-screen3x5 .game-cell {
  height: 144px;
  width: 144px;
}