/* ALL DOCUMENT */

@font-face {
  font-family: myFirstFont;
  src: url(../Arcade.ttf);
  color: #fffafa;
}
body {
  color: #fffafa; /* off-white */
  background-color: #293542; /* slate */
  font-family: myFirstFont, Arial; /* add more */
}
.container-fluid {
  padding: 0;
  height: 100vh;
}
.row {
  margin: 0;
}

/* LEFT SIDE ALL */
.left-side {
  background-color: red; /* remove later */
  height: 100%;
  padding: 0;
}
header h1 {
  font-size: 140px;
  text-align: center;
  margin-bottom: 0px;
}

/* LEFT SIDE DURING OPTIONS */
.dropdown-toggle {
  margin: 30px;
  background-color: red;
  color: white;
}
.dropdown-menu {
  background-color: red;
  color: white;
  font-size: 20px;
}
.dropdown-menu>li>a {
  color: white;
  font-size: 30px;
}
.filter-option {
  font-size: 30px;
  margin-top: 10px;
}
#start-button {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  border: solid white 1px;
}
/* LEFT SIDE DURING GAME */
#play-box {
  text-align: center;
}
#all-scoreboxes {
  margin: 0;
}
.scorebox {
  background-color: red; /* remove later */
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}
.scorebox h2 {
  text-align: center;
  font-size: 80px;
}
.scorebox h3 {
  text-align: center;
  font-size: 40px;
}
#target-score h2{
  font-size: 120px;
}
#guess-button {
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline;
}
.dropdown-toggle>#guess-button {
  margin-top: 0;
}
#user-pass, #reset-cells, #restart-button {
  margin-top: 35px;
  text-align: center;
  display: inline;
  color: white;
  background-color: blue;
}
/* #reset-cells {
  margin-top: 35px;
  text-align: center;
  display: inline;
  color: white;
  background-color: blue;
}
#restart {
  margin-top: 35px;
  text-align: center;
  display: inline;
  color: white;
  background-color: blue;
} */
.number-bar {
  background-color: black; /* remove later */
  clear: both;
  height: 100px;
  text-align: center;
}


/* RIGHT SIDE */
.right-side {
  padding: 0;
  background-color: green; /* remove later */
  height: 100%;
}

/* RIGHT SIDE DURING OPTIONS */
#instruct-screen {
  background-color: red; /* remove later */
  height: 100%;
  text-align: center;
  padding: 0;
}
#instruct-screen h3 {
  margin-top: 0px;
  padding-top: 40px;
  text-align: center;
  font-size: 80px;
}
p { /* instructions */
  padding: 20px 25px;
  text-align: justify;
  font-size: 30px;
 }

/* RIGHT SIDE DURING GAME */
.game-screen {
  background-color: red;
  height: 100%;
  padding-top: 50px;
}
#game-screen3x3 .game-cell {
  height: 200px;
  width: 200px;
  margin: 0px;
  border: black solid 1px;
  border-radius: 10px;
}
#game-screen3x4 .game-cell {
  height: 150px;
  width: 150px;
  margin: 0px;
  border: black solid 1px;
  border-radius: 10px;
}
#game-screen3x5 .game-cell {
  height: 120px;
  width: 120px;
  margin: 0px;
  border: black solid 1px;
  border-radius: 10px;
}