/* ALL DOCUMENT */

@font-face {
  font-family: myFirstFont;
  src: url(../Arcade.ttf);
  color: #fffafa;
}
body {
  color: #fffafa; /* off-white */
  background-color: #293542; /* slate */
  font-family: myFirstFont, Arial; /* add more */
}
.container-fluid {
  padding: 0;
  height: 100vh;
}
.row {
  margin: 0;
}

/* LEFT SIDE ALL */
.left-side {
  background-color: red; /* remove later */
  height: 100%;
  padding: 0;
}
header h1 {
  font-size: 120px;
  text-align: center;
  margin-bottom: 0px;
}

/* LEFT SIDE DURING OPTIONS */
.dropdown-toggle {
  margin: 10px;
}
.filter-option {
  font-size: 30px;
  margin: 5px;
}

/* LEFT SIDE DURING GAME */
#play-box {
  text-align: center;
}
#all-scoreboxes {
  margin: 0;
}
.scorebox {
  background-color: red; /* remove later */
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}
.scorebox h2 {
  text-align: center;
  font-size: 70px;
}
.scorebox h3 {
  text-align: center;
  font-size: 35px;
}
#guess-button {
  text-align: center;
}
.number-bar {
  background-color: black; /* remove later */
  clear: both;
  height: 100px;
  text-align: center;
}

/* RIGHT SIDE */
.right-side {
  background-color: green; /* remove later */
  height: 100%;
  padding: 0;
}

/* RIGHT SIDE DURING OPTIONS */
#instruct-screen {
  background-color: blue; /* remove later */
  height: 100%;
  text-align: center;
  padding: 0;
}
#instruct-screen h3 {
  margin-top: 0;
  padding-top: 40px;
  text-align: center;
  font-size: 80px;
}
p { /* instructions */
  padding: 40px;
  text-align: justify;
  font-size: 20px;
 }

/* RIGHT SIDE DURING GAME */
.game-screen {
  background-color: orange; /* remove later */
  height: 100%;
}
#game-screen3x3 .game-cell {
  height: 200px;
  width: 200px;
  margin: 0px;
  border: black solid 1px;
}
#game-screen3x4 .game-cell {
  height: 150px;
  width: 150px;
  margin: 0px;
  border: black solid 1px;
}
#game-screen3x5 .game-cell {
  height: 120px;
  width: 120px;
  margin: 0px;
  border: black solid 1px;
}