@font-face {
  font-family: myFirstFont;
  src: url(../Arcade.ttf);
}

body {
  color: #fffafa; /* off-white */
  background-color: #293542; /* slate */
  font-family: myFirstFont, Arial; /* add more */
}
.container-fluid {
  padding: 0;
  height: 100vh;
}
.row {
  margin: 0;
}
/* LEFT SIDE ALL */
.left-side {
  background-color: red; /* remove later */
  height: 100%;
  padding: 0;
}
header h1 {
  font-size: 100px;
  text-align: center;
}
/* LEFT SIDE DURING OPTIONS */
.dropdown-toggle {
  margin: 10px;
}
.selectpicker {
  font-size: 20px;
}
.filter-option {
  font-size: 30px;
  margin: 5px;
}
/* LEFT SIDE DURING GAME */
#play-box {
  text-align: center;
}
#all-scoreboxes {
  margin: 0;
}
.scorebox {
  background-color: red; /* remove later */
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}
.scorebox h1,h2 {
  text-align: center;
}
#guess-button {
  text-align: center;
}
.number-bar {
  background-color: black; /* remove later */
  clear: both;
  height: 100px;
  text-align: center;
}

/* RIGHT SIDE */
.right-side {
  background-color: green; /* remove later */
  height: 100%;
  padding: 0;
}
/* RIGHT SIDE DURING OPTIONS */
#instruct-screen {
  background-color: blue; /* remove later */
  height: 100%;
  text-align: center;
  padding: 0;
}
#instruct-screen h3 {
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;

}
p { /* instructions */
  padding: 40px;
  text-align: justify;
  font-size: 20px;
 }
/* RIGHT SIDE DURING GAME */

#game-screen {
  background-color: orange; /* remove later */
  height: 100%;
}
.game-cell {
  height: 200px;
  width: 200px;
  margin: 0px;
  border: black solid 1px;
}
